html {
    min-width: 600px;
    height:100%;
    background-attachment: fixed;
    background-image: linear-gradient(210deg, #ffffff,#9c865e);
    background-repeat: no-repeat;
    background-size: auto;
}

.bg {
    background-attachment: fixed;
    background-color: rgba(0,0,0,.6);
    width: 95%;
    overflow: auto;
    margin-top: 65px;
    margin-bottom: 45px;
}

.startscreen {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.logo {
    background-color: rgb(32, 32, 32);
    position:fixed;
    align-items: center;
    width: 100%;
}
.logo button {
    background-color: transparent;
    border: 0;
}
.logo button a {
    display: block;
    color: #f0dfcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Kurale';
}

.logo button:hover {
    background-color: rgb(189, 137, 79);
    color: black;
}

h1[class=start] {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    margin: 0;
}

h1[class=start] button {
    background-color: #aa6804;
    font-size: 180%;
}

h1[class=start] button a {
    color: #ffffff;
}

h1[class=start] button a:hover {
    display: block;
    color: rgb(243, 183, 114);
}

h1[class=continue] {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    margin: 0;
}

h1[class=continue] button {
    background-color: #aa6804;
    font-size: 120%;
}

h1[class=continue] button a {
    color: #ffffff;
}

h1[class=start] button a:hover {
    display: block;
    color: rgb(243, 183, 114);
}


h2[class=index] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    margin: 0;
    font-family: 'Kurale';
    font-size: 180%;
}
h2[class=instructions] {
    white-space: pre-wrap;
    align-items: center;
    display: flex;
    display: block;
    margin: 0 auto;
    width: 900px;
    font-size: 110%;
    padding: 60px;
}

ul {
    padding-left: 0px;
    list-style: none;
}

ul[class=radios] li {
    margin-left: 80px;
    font-size: 10px;
}

p {
    font-size: 16px;
    color: rgb(255, 241, 215);
}

button[class=submit] {
    margin-left: 100px;
}

.radio {
    height:40px;
    float:left;
}

.radio input{
    vertical-align: middle;
}
.label {
    height:40px;
    font-size:12px;
    color: rgb(255, 241, 215);
    font-weight:bold;
    font-family:Arial, sans-serif;
    float:left;
}

.clear {
    clear:both;
}

.navbar {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgb(189, 137, 79);
    color: black;
  }

  .navbar a.active {
    background-color: #aa6804;
    color: white;
  }