html {
    min-width: 600px;
    height:100%;
    background-attachment: fixed;
    background-image: linear-gradient(210deg, #ffffff,#9c865e);
    background-repeat: no-repeat;
    background-size: auto;
}

.bg {
    background-attachment: fixed;
    background-color: rgba(0,0,0,.6);
    width: 95%;
    overflow: auto;
    margin-top: 65px;
    margin-bottom: 45px;
}

.startscreen {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.logo {
    background-color: rgb(32, 32, 32);
    position:fixed;
    align-items: center;
    width: 100%;
}
.logo button {
    background-color: transparent;
    border: 0;
}
.logo button a {
    display: block;
    color: #f0dfcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Kurale';
}

.logo button:hover {
    background-color: rgb(189, 137, 79);
    color: black;
}

.mainbutton.continuebutton {
    position: relative;
    width: 25%;
}

.mainbutton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    margin: 0;
}

.mainbutton button {
    background-color: #aa6804;
    font-size: 180%;
    box-shadow: 0 5px rgb(94, 71, 46);
    border: none;
    border-radius: 15px;
}

.mainbutton button:active {
    box-shadow: 0 3px rgba(0,0,0,.1);
    transform: translateY(4px);
}

.mainbutton button a {
    color: #ffffff;
    text-decoration: none;
}

.mainbutton button a:hover {
    display: block;
    color: rgb(243, 183, 114);
}

.mainbutton button a:hover {
    display: block;
    color: rgb(243, 183, 114);
}

h2[class=index] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    margin: 0;
    font-family: 'Kurale';
    font-size: 180%;
}
h2[class=instructions] {
    white-space: pre-wrap;
    display: flex;
    font-size: 110%;
    color: rgb(250, 229, 191);
    padding-left: 10%;
    padding-right: 10%;
    overflow-anchor: auto;
}

ul {
    padding-left: 0px;
    list-style: none;
}

ul[class=radios] li {
    margin-left: 80px;
    font-size: 10px;
}

p {
    font-size: 20px;
    color: rgb(255, 203, 106);
}

.custom {
    background-color: rgb(245, 213, 153);
    color: black;
    box-shadow: 0 5px rgb(94, 71, 46);
    border: none;
    border-radius: 15px;
    text-transform: capitalize;
}

.custom:hover {
    background-color: rgb(216, 166, 75);
    color: black;
}

.custom:active {
    box-shadow: 0 3px rgba(0,0,0,.1);
    transform: translateY(4px);
}

.submit {
    position: relative;
    left: 47%;
    background-color: rgb(245, 213, 153);
    color: black;
    box-shadow: 0 5px rgb(94, 71, 46);
    border: none;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
}

.submit:hover {
    background-color: rgb(216, 166, 75);
    color: black;
}

.submit:active {
    box-shadow: 0 3px rgba(0,0,0,.1);
    transform: translateY(4px);
}

.recipe-name-form {
    position: relative;
    margin-left: 80px;
    top: 20px;
}

#recipename {
    margin-left: 80px;
}

.radio {
    height:40px;
    float:left;
}

.radio input{
    vertical-align: middle;
}
.label {
    height:40px;
    font-size:14px;
    color: rgb(255, 241, 215);
    font-weight:bold;
    font-family:Arial, sans-serif;
    float:left;
    text-transform: capitalize;
}

.customtext {
    color: rgb(255, 241, 215);
    font-size:14px;
    text-transform: capitalize;
    padding-left: 10px;
}

.clear {
    clear:both;
}

.navbar {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgb(189, 137, 79);
    color: black;
  }

  .navbar a.active {
    background-color: #aa6804;
    color: white;
  }